<div class="container-fluid">

<%= image_tag "green.jpg", class: 'width-100-percent', style: "max-width: 100%" %>


<div class="intro_message container">
 <div class="row">
  <div class="col-offset-md-2 col-md-8">
    <h2>すきなことをすきなときにかきこめます。</h2>
    <p>よかったこととかうれしかったこともだいじょうぶ。</p>
    <p>いやだったこととかかなしかったこともだいじょうぶ。</p>
    <p>ためないで、だしちゃって、よくねむろう。</p>
 </div>        
</div>
    
<%= yield %>
