<div class="container-fluid">

<%= image_tag "green.jpg", class: 'width-100-percent', style: "max-width: 100%" %>


<div class="intro_message container">
 <div class="row">
  <div class="col-offset-md-2 col-md-8">
    <h2>you can post anything as your own diary.</h2>
    <p>something happy, sad, exciting, heart warming...</p>
    <br>
    <p>Tomorrow will definitely become a fantastic day!</p>
 </div>        
</div>
    
<%= yield %>
